{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <div>
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time>{{ .Date | time.Format (i18n "post.created") }}</time>
            {{ else }}
                <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}
        </div>
    </header>
    {{- .Content -}}
    <hr>
    <p>
    {{ if .Next }}
      <p>Next Post: {{ with .Next }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}</p>
    {{ end }}
    {{ if .Prev }}
      <p>Previous Post: {{ with .Prev }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}</p>
    {{ end }}
</article>
{{ end }}
