{{ define "main" }}
<article>
    <header id="post-header">
        <h2>{{ .Title }}</h2>
        <div>
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format (i18n "post.created") }}</time>
            {{ else }}
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}
        </div>
    </header>
    {{- .Content -}}
    <hr>
    {{ with .NextInSection }}
      {{ if . }}
      <p>Next Post: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    {{ end }}
    {{ with .PrevInSection }}
      {{ if . }}
      <p>Previous Post: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    {{ end }}
</article>
{{ end }}
